<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(doadores)"></head>
	<body>
		<nav th:replace="fragments/cabecalho :: cabecalho"></nav>
		<div class="container-fluid" style="margin-top: 70px;">
			<div class="row">
				<div class="col-md-offset-2 col-md-6">
					<form th:action="@{/doador/cadastrar}" th:object="${doador}" method="post">
					
						<div class="form-group">
							<input type="radio" name="tipoDoador" value="1"> Pessoa Física<br>
							<input type="radio" name="tipoDoador" value="2"> Pessoa Jurídica<br>
						</div>
					
						<div th:class="${#fields.hasErrors('nome')} ? 'form-group has-error has-feedback' : 'form-group'">
							<label for="nome" th:text="#{doador.nome}"></label> 
							<input type="text" class="form-control" id="nome" name="nome" th:value="${doador}? ${doador.nome} : '' " th:field="*{nome}" placeholder="Nome" />
							<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error"></p>
						</div>
						
						<div th:class="${#fields.hasErrors('documentoIdentificador')} ? 'form-group has-error has-feedback' : 'form-group'">
							<label for="documentoIdentificador" th:text="#{doador.documentoIdentificador}"></label> 
							<input type="text" class="form-control" id="nome" name="nome" th:value="${doador}? ${doador.documentoIdentificador} : '' " th:field="*{documentoIdentificador}" placeholder="CPF ou CNPJ" />
							<p th:if="${#fields.hasErrors('documentoIdentificador')}" th:errors="*{documentoIdentificador}" class="error"></p>
						</div>
						
						<div th:class="${#fields.hasErrors('email')} ? 'form-group has-error has-feedback' : 'form-group'">
							<label for="nome" th:text="#{doador.email}"></label> 
							<input type="text" class="form-control" id="email" name="email" th:value="${doador}? ${doador.email} : '' " th:field="*{email}" placeholder="Email" />
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>
						</div>
						
						<div th:class="${#fields.hasErrors('telefone')} ? 'form-group has-error has-feedback' : 'form-group'">
							<label for="nome" th:text="#{doador.telefone}"></label> 
							<input type="text" class="form-control" id="telefone" name="telefone" th:value="${doador}? ${doador.telefone} : '' " th:field="*{telefone}" placeholder="Telefone" />
							<p th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="error"></p>
						</div>
						
						<button type="submit" class="btn btn-success" th:text="#{botao.cadastrar}"></button>
						
					</form>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/rodape :: rodape"></footer>
	</body>
</html>