<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(voluntarios)"></head>
	<body>
		<nav th:replace="fragments/cabecalho :: cabecalho"></nav>
		<div class="container-fluid" style="margin-top: 70px;">
			<div class="row">
				<div class="col-md-offset-1 col-md-6">
					<form th:action="@{/voluntario/cadastrar}" th:object="${voluntario}" method="post">
						<input type="hidden" id="id" name="id" th:value="${voluntario.id}" />
						<div th:class="${#fields.hasErrors('nome')} ? 'form-group has-error has-feedback' : 'form-group'">
							<label for="nome" th:text="#{voluntario.nome}"></label> 
							<input type="text" class="form-control" id="nome" name="nome" th:value="${voluntario}? ${voluntario.nome} : '' " th:field="*{nome}" placeholder="Nome" />
							<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error"></p>
						</div>
						
						<div th:class="${#fields.hasErrors('email')} ? 'form-group has-error has-feedback' : 'form-group'">
							<label for="nome" th:text="#{voluntario.email}"></label> 
							<input type="text" class="form-control" id="email" name="email" th:value="${voluntario}? ${voluntario.email} : '' " th:field="*{email}" placeholder="Email" />
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>
						</div>
						
						<div th:class="${#fields.hasErrors('telefone')} ? 'form-group has-error has-feedback' : 'form-group'">
							<label for="nome" th:text="#{voluntario.telefone}"></label> 
							<input type="text" class="form-control" id="telefone" name="telefone" th:value="${voluntario}? ${voluntario.telefone} : '' " th:field="*{telefone}" placeholder="Telefone" />
							<p th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="error"></p>
						</div>
						
						<div th:replace="fragments/tabela_projetos :: tabela_projetos"></div>
						
						<button type="submit" class="btn btn-success" th:text="#{botao.cadastrar}"></button>
						
					</form>
				</div>
				
				<div class="col-md-offset-1 col-md-2 float-rigth">
				   	<img alt="" th:src="@{/img/voluntario.jpg}" class="img-responsive" />
				</div>
			</div>
		</div>
		<footer th:replace="fragments/rodape :: rodape"></footer>
	</body>
</html>