<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(voluntarios)"></head>
	<body>
		<nav th:replace="fragments/cabecalho :: cabecalho"></nav>
		<div class="container-fluid" style="margin-top: 70px;">
			<div class="row">
				<div class="col-md-offset-2 col-md-6">
					<form action="cadastrar" method="post">
						<div class="form-group">
							<label for="nome">Nome</label> <input type="text"
								class="form-control" id="nome" name="nome" placeholder="Nome" th:value="${voluntario}? ${voluntario.nome} : '' "/>
						</div>
						<div class="form-group">
							<label for="email">E-mail</label> <input type="email"
								class="form-control" id="email" name="email" placeholder="Email" th:value="${voluntario}? ${voluntario.email} : '' "/>
						</div>
						<div class="form-group">
							<label for="telefone">Telefone</label> <input type="text"
								class="form-control" id="telefone" name="telefone"
								placeholder="Telefone" th:value="${voluntario}? ${voluntario.telefone} : '' "/>
						</div>
						<div  class="form-group">
							<label>Escolha um projeto</label> 
							<select name="projetos" id="projetos" class="form-control">
								<option th:each="projeto : ${listaProjetos}" th:text="${projeto.nome}" th:value="${projeto.id}"></option>
							</select>
						</div>
						<button type="submit" class="btn btn-success" id="cadastrarVoluntario" name="cadastrarVoluntario">Cadastrar</button>
					</form>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/rodape :: rodape"></footer>
	</body>
</html>