<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(projetos)"></head>
	<body>
		<header th:replace="fragments/cabecalho :: cabecalho"></header>
			<div class="container-fluid" style="margin-top: 70px;">
				<div class="row">
					<div class="col-md-offset-2 col-md-6">
						<form th:action="@{/projeto/cadastrar}" th:object="${projeto}" method="post">
							<div th:class="${#fields.hasErrors('nome')} ? 'form-group has-error has-feedback' : 'form-group'">
								<label for="nome" th:text="#{projeto.nome}"></label> 
								<input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}" placeholder="Nome" />
								<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error"></p>
							</div>
							<div th:class="${#fields.hasErrors('dataInicio')} ? 'form-group has-error has-feedback' : 'form-group'">
								<label for="dataInicio" th:text="#{projeto.data.inicio}"></label> 
								<input type="date" pattern="dd/MM/yyyy" class="form-control" id="dataInicio" name="dataInicio" th:field="*{dataInicio}" />
								<p th:if="${#fields.hasErrors('dataInicio')}" th:errors="*{dataInicio}" class="error"></p>
							</div>
							<div th:class="${#fields.hasErrors('dataTermino')} ? 'form-group has-error has-feedback' : 'form-group'">
								<label for="dataTermino" th:text="#{projeto.data.termino}"></label> 
								<input type="date" pattern="dd/MM/yyyy" class="form-control" id="dataTermino" name="dataTermino" />
								<p th:if="${#fields.hasErrors('dataTermino')}" th:errors="*{dataTermino}" class="error"></p>
							</div>
							<button type="submit" class="btn btn-success" th:text="#{botao.cadastrar}"></button>
						</form>
					</div>
				</div>
			</div>
		<footer th:replace="fragments/rodape :: rodape"></footer>
	</body>
</html>