<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(projetos)"></head>
	<body>
		<header th:replace="fragments/cabecalho :: cabecalho"></header>
		<div class="container-fluid" style="margin-top: 70px;">
			<div class="row">
			
				<div class="col-md-offset-1 col-md-3">
					<input type="search" oninput="w3.filterHTML('#tabelaProjetos', '.projetos', this.value)" class="form-control" id="filtro" name="filtro" placeholder="Filtro" />
				</div>
				
				<div class="col-md-offset-1 col-md-10 mt-30">
				    <table id="tabelaProjetos" class="table table-striped table-hover">
				        <thead>
				        <tr>
				            <th><span th:text="#{projeto.nome}"></span></th>
				            <th><span th:text="#{projeto.data.inicio}"></span></th>
				            <th><span th:text="#{projeto.data.termino}"></span></th>
				            <th colspan="4"></th>
				        </tr>
				        </thead>
				        <tr th:each="projeto : ${projetos}" class="projetos">
				            <td><span th:text="${projeto.nome}"></span></td>
				            <td><span th:text="${#temporals.format(projeto.dataInicio, 'dd/MM/yyyy')}"></span></td>
				            <td><span th:text="${#temporals.format(projeto.dataTermino, 'dd/MM/yyyy')}"></span></td>
				            <td>
					            <div class="dropdown">
								  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span th:text="#{botao.adicionar}"></span>
								  <span class="caret"></span></button>
								  <ul class="dropdown-menu">
								    <li><a th:href="@{/projeto/{id}/adicionar/voluntarios(id=${projeto.id})}" th:text="#{voluntario.titulo}"></a></li>
								    <li><a th:href="@{/projeto/{id}/adicionar/beneficiario(id=${projeto.id})}" th:text="#{beneficiario.titulo}"></a></li>
								    <li><a th:href="@{/projeto/{id}/adicionar/doador(id=${projeto.id})}" th:text="#{doador.titulo}"></a></li>
								  </ul>
								</div>
				            </td>
				            <td>
				            	<div class="dropdown">
								  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span th:text="#{botao.visualisar}"></span>
								  <span class="caret"></span></button>
								  <ul class="dropdown-menu">
								    <li><a th:href="@{/projeto/{id}/visualisar/voluntarios(id=${projeto.id})}" th:text="#{voluntario.titulo}"></a></li>
								    <li><a th:href="@{/projeto/{id}/visualisar/voluntarios(id=${projeto.id})}" th:text="#{beneficiario.titulo}"></a></li>
								    <li><a th:href="@{/projeto/{id}/visualisar/voluntarios(id=${projeto.id})}" th:text="#{doador.titulo}"></a></li>
								  </ul>
								</div>
				            </td>
				            <td><button type="submit" class="btn btn-success" th:text="#{botao.editar}"></button></td>
				            <td><button type="submit" class="btn btn-danger" th:text="#{botao.remover}"></button></td>
				            
				        </tr>
				    </table>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/rodape :: rodape"></footer>
	</body>
</html>